@model IEnumerable<TaskManagementSystem.Models.ProTask>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("Project name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </th>
        <th>
            @Html.Raw("Completed%")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var task in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => task.Project.Name)
    </td>
  
    <td>
        @Html.ActionLink(task.Name, "Details", new { id = task.Id })
    </td>
    <td>
        @Html.DisplayFor(modelItem => task.CreatedTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => task.CompletedPercentage)
    </td>
    <td>
        @Html.DisplayFor(modelItem => task.Deadline)
    </td>
    <td>
        @Html.DisplayFor(modelItem => task.Priority)
    </td>
    <td>
        @Html.DisplayFor(modelItem => task.UserName)
    </td>
    <td>
        @Html.ActionLink("Edit", "EditDeveloperTask", new { id = task.Id }) |
        @Html.ActionLink("Delete", "DeleteDeveloperTask", new { id = task.Id })  
    </td>
    <td class="btn btn-success" style="margin-right:5px">       
        @Html.ActionLink("Ugrent note", "Create", "Notes", new { ProjectId = task.Project.Id, ProTaskId = task.Id, ProjectName = task.Project.Name, TaskName=task.Name }, null)

    </td>
    @if (task.CompletedPercentage == 100)
    {
        <td class="btn btn-warning">
            @Html.ActionLink("Comment", "Comments", "ProTasks", new { id = task.Id }, null)
        </td>
    }
</tr>
    }

</table>

<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>