@model IEnumerable<TaskManagementSystem.Models.ApplicationUser>
@{
    ViewBag.Title = "ShowAllUsers";
}

<h2>Show All Users</h2>

<table class="table">
    <tr>
        <th>
            UserName
        </th>
        <th>Salary</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Salary)</td>
            <td>
                @Html.ActionLink("ShowTheRoles", "ShowAllRolesOfTheUser", new { userId = item.Id }) |
                @Html.ActionLink("Assign Role", "AddUserToRole", new { userId = item.Id }) |
                @Html.ActionLink("Set Salary", "SetSalary", new { userId = item.Id })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to Management Page", "Index")
</p>